@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}

header{
  background-color: rgb(255, 255, 255);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    background-image: url(/pict/fon.jpg);
    background-position: center;

}

main{
  height: 91vh;
}

.logo{
  width: 15%;
}

.navigation{
  padding-left: 100px;
  font-size: 20px;
  font-weight: 700;
  gap: 40px;
  display: flex;
  
}
.navigation a{
  text-decoration: none;
}

.header__container{
  display: flex;
  align-items: center;
  width: 100% ;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.skidkipict{
  width: 50%;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.skidkipict2{
  width: 40%;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px
}



.skidkitag{
  font-size: 40px;
  font-weight: 600;
}

.skidki1{
  padding: 30px;
}
.skidki2{
  padding: 70px;
  padding-top: 80px;
}

.skidki{
  display: flex;
}

@media (min-width:992px) {
  .navigation{
    font-size: 16px;
  }
  .logo{
    width: 10%;
  }
  .skidkitag{
    white-space: nowrap;
  }
  .skidki2{
    white-space: nowrap;
  }
  
  .skidki2 :last-child{
    padding-top: 100px;
  }
}

